html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
}

.base-layout-container {
    min-height: 100%;
    display: flex;
}

.base-layout-container-navigator {
    flex: 15%;
    background: steelblue;
}

.base-layout-container-chat {
    flex: 80%;
    background: #9ad1ff;
}

.inner-layout-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.inner-layout-container > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inner-left-status {
    flex: 60px;
}

.inner-left-channels {
    flex: 50%;
}

.inner-left-messages {
    flex: 50%;
}

.inner-right-channel-info {
    flex: 10%;
    flex-grow: 0;
}

.inner-right-chat {
    flex: 40%;
    flex-grow: 10;
}

.inner-right-message-box {
    flex: 10%;
    flex-grow: 0;
}

.navigator-menu {
    display: flex;
    flex-direction: row;
}

.navigator-title {
    flex-grow: 10;
}

.navigator-button {
    flex-grow: 1;
    color: black;
}

.status-title {
    display: flex;
    flex-direction: row;
}

.status-text {
    flex-grow: 10;
}

.status-notifications {
    flex-grow: 1;
    color: black;
}

.status-user {
    margin-top: 10px;
}
