html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.base-layout-container {
    min-height: 100%;
    display: flex;
}

.base-layout-container-navigator {
    flex: 20%;
    background: rgb(175, 130, 175);
}

.base-layout-container-chat {
    flex: 80%;
}

.inner-layout-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.inner-layout-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-left-status {
    flex: 10%;
}

.inner-left-channels {
    flex: 45%;
}

.inner-left-messages {
    flex: 45%;
}

.inner-right-channel-info {
    flex: 10%;
    flex-grow: 0;
}

.inner-right-chat {
    flex: 40%;
    flex-grow: 10;
}

.inner-right-message-box {
    flex: 10%;
    flex-grow: 0;
}
